body {
    background-color: #FAEBD7;
}
h1 {
    font-style: italic;
    text-align: center;
}
h2 {
    font-weight: bold;
    color: #8B0000;
    text-align: center;
}
aside {
    font-style: italic;
}

footer {
    font-weight: bold;
    color: #8B0000;
}